In [2]:
# 변수 선언과 동시에 값을 할당
a = 10
b = "test"

# 두 변수를 출력
print(a)
print(b)

#두 변수의 데이터의 형태 출력
print(type(a))
print(type(b))

10
test
<class 'int'>
<class 'str'>

In [4]:
#숫자 형태의 데이터에 ""로 묶어주면 문자열 데이터로 데이터 대입
c = "10"

print(c)
print(type(c))

10
<class 'str'>

In [7]:
# 산술 연산자
x = 7
y = 3

print(x+y, x-y, x*y, x/y, x//y, x%y, x**y)

10 4 21 2.3333333333333335 2 1 343

In [9]:
# 대입 연산자
# +=, -=, *=, /*, //*, %=, **=
# 산술 연산자와의 차이는 기준이 되는 변수의 데이터를 변경
print(x) # 7이 출력
x += 1   # x = x+1
print(x) # x = 8
x-= 3    # x = x - 3 
print(x) # x = 5
x *= 2   # x = x * 2
print(x) # x = 10
x /= 3   # x = x / 3
print(x) # x = 3.3333...
print(x+2)
print(x) # 위의 x + 2는 x에 2를 더한 값을 출력하는 부분일 뿐, x 데이터의 변화는 없다.

3.3333333333333335
4.333333333333334
1.333333333333334
2.666666666666668
0.8888888888888893
2.8888888888888893
0.8888888888888893

In [11]:
# 비교 연산자
# 데이터의 비교를 하여 논리값을 출력
# 논리값 bool의 형태 (true, False)
x = 7
y = 3 

print(x == y) # f
print(x != y) # t
print(x > y) # t
print(x < y) # f
print(x >= y) # t
print(x <= y) # f

False
True
True
False
True
False

In [14]:
# and, or, not
# and : 두 조건이 모두 참인 경우에 참 나머지의 경우엔 모두 거짓
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [18]:
#or : 두 조건 중 하나만 참이면 참을 출력, 두 조건이 모두 거짓인 경우에만 거짓을 출력
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [17]:
# not : True는 False로, False 는 True로 출력
print(not(True))

False

In [20]:
#if 뒤의 조건식이 참인 경우 코드가 실행된다.
# 조건식이 거짓인 경우에는 코드가 실행되지 않는다.
# 거짓는인 경우 코드를 실행하려면 else구문이 필요하다.
# 조건식이 여러개인 경우에는 elif 조건식의 형태로 구문을 만들어준다.

In [21]:
#if문
# a가 10보다 작은 경우에는 첫번째 print를 실행
# a가 10보다 크거나 같은 경우에는 첫번째 print를 실행하지 않는다.
a = 5
if a < 10 :
     print("a는 10보다 작다") #들여쓰기 필수 

print("프로그램 종료") #else가 없으므로 조건에 구애받지 않고 실행됨

a는 10보다 작다
프로그램 종료

In [23]:
#if - else문
a = 15

if a < 10 :
    print("a는 10보다 작다")
else :
    print("a는 10보다 크거나 같다")

print("프로그램 종료")

a는 10보다 크거나 같다
프로그램 종료

In [25]:
#elif 문

score = int(input("점수를 입력하시오"))

if score >= 90 :
    print("a")
elif score >= 80 :
    print("b")
elif score >= 70 :
    print("c")
else :
    print("f")

print("프로그램 종료")

c
프로그램 종료

In [28]:
#range(시작값, 종료값, 증가값)

print(list(range(1, 11, 1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
#for문
for i in range(1, 11, 1):
    print(i)
print("프로그램 종료")

1
2
3
4
5
6
7
8
9
10
프로그램 종료

In [40]:
for i in range(10, 1, -2) :
    print(i)

10
8
6
4
2

In [42]:
# 1부터 10까지의 합계
#10번 반복

#초기값 지정
result = 0

#반복문 시작
for i in range(1, 11, 1) :
    result += i
print(result)

55

In [50]:
#1부터 50까지의 합계를 구한다. 1부터 50까지 짝수의 합계만 구하는 방법은?

result = 0
for i in range (2, 51, 2) :
    result += i
print(result)

650

In [51]:
result = 0 
for i in range (1, 51, 1) :
    if i % 2 == 0 :
        result += i
print(result)

650

In [55]:
#주사위 2개를 굴려서 두 주사위의 합계가 5의 배수인 경우를 출력하시오
#경우의 수 : 36번 -> 6번 경우의 수 * 6번 경우의 수 
#다중 for문 + if문

for i in range(1, 7, 1) :
    for j in range(1, 7, 1) :
        if (i + j) % 5 == 0 :
            print(i,j)

1 4
2 3
3 2
4 1
4 6
5 5
6 4

In [65]:
# a ** n + b ** n = c ** n 이 수식에서 n의 값이 2보다 큰 자연수이면 a, b, c의 자연수의 값은 존재하지 않는다.
# n의 값이 3인 경우 a, b, c가 1부터 10까지 이 정리가 사실임을 증명하시오

for a in range (1, 11, 1) :
    for b in range(1, 11, 1) :
        for c in range(1, 11, 1) :
            if a**3 + b**3 == c**3 :
             print(a,b,c)

In [68]:
#while문 

# 초기값 지정
i = 0

while i < 10 :
    
    i += 1     # 아랫줄과 순서 유의. 값이 달라짐
    print (i)

1
2
3
4
5
6
7
8
9
10

In [71]:
# while문을 이용하여 1부터 10까지의 합계

result = 0
i = 1
while i <= 10 :
    result += i
    i += 1 # i값을 마지막에 적도록 . 빼먹진 말고.
print(result)

55

In [73]:
#continue, break 
#continue 반복문으로 돌아간다.
#break 반복문을 종료한다.

#continue 예시
for i in range(1, 11, 1) :
    if i < 3 :
        continue
    print(i)

3
4
5
6
7
8
9
10

In [75]:
#break 예시

i = 0 

while i < 11 :
    if i == 7 :
        break
    print(i)
    i += 1

0
1
2
3
4
5
6

In [85]:
# 1부터 1000까지 합계를 구하는데 합계가 900이 넘어가는 최초의 숫자는 무엇인가?

result = 0

for i in range (1, 1001, 1) :
    result += i
    if result > 900 : 
         break  
    
print(i)

42

In [90]:
result = 0
i = 1
while i <= 1000:
    result += i
    if result > 900:
        break
    i += 1 
print(i)
print(result)

42
903

#튜플

In [92]:
a = (4, "Hello")
b = (3, 3.14)
c = a + b
d = a * 3
print(a)
print(b)
print(c)
print(d)

(4, 'Hello')
(3, 3.14)
(4, 'Hello', 3, 3.14)
(4, 'Hello', 4, 'Hello', 4, 'Hello')

In [95]:
# 튜플과 같은 여러개의 원소를 담아내고 있는 변수들은 위치값으로 각각의 원소를 출력할 수 있다.
print(a[0]) # 위치는 0부터 시작

4

In [97]:
print(a[1][0]) #하나씩 괄호 벗겨나가기

H

In [2]:
a = (10, 20, 30, 40, 50)

# 2번째 원소부터 4번째 원소까지 출력
print(a[1 : 4])

(20, 30, 40)

In [101]:
print(a[1:]) # 2번째부터 마지막까지 출력
print(a[:3]) # 처음부터 3번째 항목까지 출력

(20, 30, 40, 50)
(10, 20, 30)

In [103]:
#리스트는 대괄호
a = [20, 10, 40, 30]
b = [10, 20, 30, 40]

# a 리스트의 순서를 오름차순으로 변경
a.sort()
# b 리스트는 순서를 역순으로 변경
b.reverse()

print(a)
print(b)

[10, 20, 30, 40]
[40, 30, 20, 10]

In [105]:
# a 리스트에서 마지막 항목 삭제
a.pop()
# b 리스트에는 22라는 항목을 추가
b.append(22)

print(a)
print(b)

[10, 20]
[40, 30, 20, 10, 22, 22]

In [107]:
x = []

for i in range(1, 11, 1) :
    x.append(i)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [116]:
y = [30, 20, 80, 10]


for i in range(0, len(y), 1) :

 print(y[i])
 
 for i in y :
print(i)

IndentationError: expected an indented block after 'for' statement on line 8 (1489896725.py, line 9)

In [117]:
# 1부터 70까지 숫자들 중, 3의 배수를 리스트의 형태로 만들어서 출력하시오.

x=[]
for i in range(1, 71, 1) :
    if i % 3 == 0 :
        x.append(i)
print(x)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [123]:
_list = []
i = 1 

while i <= 70:
    if i % 3 == 0 :
        _list.append(i)
    i += 1
    
print(_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [125]:
#사전형 데이터
# (key1 : value1, key2 : value2, ...)
dict = {'name' : 'test', 'age' : '20', 'phone' : "010012345678"}

print(dict)

{'name': 'test', 'age': '20', 'phone': '010012345678'}

In [127]:
# test 단어를 출력하려면?
print(dict['name'])

test

In [129]:
print(dict[0]) # dict에선 위치형태 출력 불가

KeyError: 0

In [131]:
# 새로운 키 : 밸류 추가
#새로운 키 값을 입력
dict['area'] = 'seoul'

print(dict)

{'name': 'test', 'age': '20', 'phone': '010012345678', 'area': 'seoul'}

In [133]:
# 기존의 키 값에 있는 밸류를 수정
dict['age'] = 30
print (dict)

{'name': 'test', 'age': 30, 'phone': '010012345678', 'area': 'seoul'}

In [135]:
# 데이터를 지울 때
del(dict['phone'])

print(dict)

KeyError: 'phone'

In [1]:
#db와 python을 연동하여 데이터를 받으면
#데이터의 형태 [{},{}]
test_data = []