In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../230331/230403/230404/csv/AAPL.csv')

In [3]:
df.head()

         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.410525  117258400.0
1  1980-12-15  0.488839  0.488839  0.486607  0.486607   0.389106   43971200.0
2  1980-12-16  0.453125  0.453125  0.450893  0.450893   0.360548   26432000.0
3  1980-12-17  0.462054  0.464286  0.462054  0.462054   0.369472   21610400.0
4  1980-12-18  0.475446  0.477679  0.475446  0.475446   0.380182   18362400.0

In [5]:
# 컬럼의 데이터를 인덱스로 변경
# set_index(컬럼명) 

df.set_index('Date', inplace = True)

In [6]:
# 컬럼의 이름을 변경하려면?
df.columns = [
    '시가','고가','저가','종가','수정종가','거래량'
]

In [10]:
df.index.name = '날짜'

In [12]:
# 데이터프레임에서 특정 컬럼으로 필터

df.loc[:,'시가':'수정종가']

                    시가          고가          저가          종가        수정종가
날짜
1980-12-12    0.513393    0.515625    0.513393    0.513393    0.410525
1980-12-15    0.488839    0.488839    0.486607    0.486607    0.389106
1980-12-16    0.453125    0.453125    0.450893    0.450893    0.360548
1980-12-17    0.462054    0.464286    0.462054    0.462054    0.369472
1980-12-18    0.475446    0.477679    0.475446    0.475446    0.380182
...                ...         ...         ...         ...         ...
2019-06-18  196.050003  200.289993  195.210007  198.449997  198.449997
2019-06-19  199.679993  199.880005  197.309998  197.869995  197.869995
2019-06-20  200.369995  200.610001  198.029999  199.460007  199.460007
2019-06-21  198.800003  200.850006  198.149994  198.779999  198.779999
2019-06-24  198.539993  200.160004  198.169998  199.169998  199.169998

[9715 rows x 5 columns]

In [13]:
# 시가가 100달러 이상인 경우
df.loc['시가'>= 100]

TypeError: '>=' not supported between instances of 'str' and 'int'

In [56]:
# query 함수
# query 조건식
df.query('날짜 >= 2020-01-01')

SyntaxError: invalid syntax (<unknown>, line 1)

In [16]:
data = [
    [100, 900, 800, 700],
    [1200, 1400, 900, 800]
]
columns = [
    ["영업이익", "영업이익", "당기순이익", "당기순이익"],
    ["컨센서스", "잠정치", "컨센서스", "잠정치"]
]

df = pd.DataFrame(data, columns = columns)
df

   영업이익       당기순이익
   컨센서스   잠정치  컨센서스  잠정치
0   100   900   800  700
1  1200  1400   900  800

In [18]:
# stack(), unstack()
stack_df = df.stack()

In [19]:
stack_df.unstack()

  당기순이익       영업이익
    잠정치 컨센서스   잠정치  컨센서스
0   700  800   900   100
1   800  900  1400  1200

In [20]:
df.stack(level = 0)

          잠정치  컨센서스
0 당기순이익   700   800
  영업이익    900   100
1 당기순이익   800   900
  영업이익   1400  1200

### 할로윈 투자 전략
1. 11월 1일에 구매 -> 6개월 간 유지 4월 말일에 판매
2. 11월 첫날의 시가로 구매
3. 4월 마지막 날의  종가로 판매
4. 수익률 = (3번과정 - 2번과정)  / 2번 과정

In [95]:
df = pd.read_csv('../230331/230403/230404/csv/AMZN.csv')

In [65]:
df = df.set_index('Date')

In [69]:
df.index = pd.to_datetime(df.index, format = '%Y-%m-%d')

In [75]:
df.loc['2000-11'].iloc[0]['Open']

35.8125

In [76]:
df.loc['2001-04'].iloc[-1]['Close']

15.78

In [77]:
for i in range(2000, 2020, 1) :
    buy_mon = str(i) + "-11"
    sell_mon = str(i+1) + "-04"
    print(buy_mon,sell_mon)

2000-11 2001-04
2001-11 2002-04
2002-11 2003-04
2003-11 2004-04
2004-11 2005-04
2005-11 2006-04
2006-11 2007-04
2007-11 2008-04
2008-11 2009-04
2009-11 2010-04
2010-11 2011-04
2011-11 2012-04
2012-11 2013-04
2013-11 2014-04
2014-11 2015-04
2015-11 2016-04
2016-11 2017-04
2017-11 2018-04
2018-11 2019-04
2019-11 2020-04

In [79]:
acc_rtn = 1

for i in range(2000, 2019, 1):
    buy_mon = str(i) + "-11"
    sell_mon = str(i+1) + "-04"
    
    # 구입가 저장
    buy = df.loc[buy_mon].iloc[0]['Open']
    sell = df.loc[sell_mon].iloc[-1]['Close']
    
    # 수익률
    rtn = (sell - buy) / buy + 1
    
    # 누적 수익률
    acc_rtn *= rtn

In [84]:
acc_rtn

8.244683980501206

In [85]:
# buy and hold 인경우
buy = df.loc['2000-11'].iloc[0]['Open']
sell = df.loc['2019-04'].iloc[-1]['Close']
rtn = (sell-buy)/buy + 1
rtn

53.794625340314134

In [86]:
# CARG(연복리수익률)
#(수익률 ** (1/투자기간)) - 1

# 할로윈 CAGR

CAGR = (acc_rtn ** (1/20)) - 1
print(CAGR*100)

11.124213625243007

In [87]:
# 바이앤홀드 CAGR
CAGR = (rtn ** (1/20)) - 1
print(CAGR * 100)

22.04976410456394

In [88]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [89]:
start = datetime(year = 2000, month = 11, day = 1)
start

datetime.datetime(2000, 11, 1, 0, 0)

In [90]:
end = start + relativedelta(months = 5)
end

datetime.datetime(2001, 4, 1, 0, 0)

In [91]:
print(start.strftime('%Y-%m'), end.strftime('%Y-%m'))

2000-11 2001-04

In [103]:
def six_month(df, start = 2000, end = 2019, month = 11):
    if 'Date' in df.columns:
        df['Date'] = pd.to_datetime(df['Date'], format = "%Y-%m-%d")
        df.set_index('Date', inplace = True)
    
    # 누적 수익률 변수를 생성
    acc_rtn = 1
    
    for i in range(start, end):
        start_ = datetime(year = i, month = month, day = 1)
        end_ = start_ + relativedelta(months = 5)
        
        buy_mon = start_.strftime("%Y-%m")
        sell_mon = end_.strftime("%Y-%m")
        
        buy = df.loc[buy_mon].iloc[0]['Open']
        sell = df.loc[sell_mon].iloc[-1]['Close']
        
        rtn = (sell - buy) / buy + 1
        
        acc_rtn *= rtn
    
    return acc_rtn

In [96]:
six_month(df)

8.244683980501206

In [117]:
df= pd.read_csv('../230331/230403/230404/csv/AMZN.csv')

In [98]:
six_month(df)

8.244683980501206

In [106]:
for i in range(1, 13, 1):
    print(f"{i}월:", six_month(df, month = i))

1월: 4.470910943811504
2월: 4.408415564523263
3월: 18.50624959809526
4월: 13.582616833702685
5월: 4.304179383672146
6월: 5.111566986774566
7월: 3.589575312504607
8월: 6.418767529470167
9월: 1.3058661611037958
10월: 1.9960729229032756
11월: 8.244683980501206
12월: 6.23900557812782

In [114]:
import halloween

In [116]:
import imp
imp.reload(halloween)

In [120]:
test = halloween.Halloween(df, 2000, 2019)

In [121]:
test.accrtn()

8.244683980501206

In [123]:
test.carg()

11.742834843522832